@keyframes slideInLeft
    0%
        transform: translateX(-100%)
        opacity: 0
    100%
        transform: translateX(0)
.project-container
    animation: 2s ease-out 0s 1 slideInLeft
    display: flex
    padding-left: 4rem
    padding-right: 4rem
    font-size: .8rem
    overflow-wrap: break-word
    p
        font-size: 1rem
    a
        text-decoration: none
/* make everything center on mobile

