.project-container
    float: right
    max-width: 33vw
    display: flex
    flex-direction: column
    align-items: right
    justify-content: right
    text-align: right
    padding-left: 4rem
    padding-right: 4rem
    font-size: .8rem
    h1
        text-align: right
    p
        font-size: 1rem
    a 
        text-decoration: underline
        pointer-events: auto
    ::before
        display: none
#link-cont 
    display: flex
    gap: 10px
    text-align: right
    float: right
    align-items: right
    justify-content: right
    

    
@media only screen and (max-width: 600px)
    .project-container
        float: none
        max-width: 98vw
        align-items: center
        justify-content: center
        text-align: center
        margin-top: 5px
        h1
            text-align: center

/* make everything center on mobile

