@keyframes slideInLeft 
  0% 
    transform: translateX(-600%)
  
  100% 
    transform: translateX(0)

@keyframes blinkText
  50%
    opacity: .6


#info-links
        position: absolute
        display: flex
        font-size: 2rem
        bottom: 10vh
        right: 10vw
        gap: 30px
        animation: 2s ease-out 0s 1 slideInLeft
        > *:hover
          animation: blinkText .53s linear infinite