@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap')
$dark:  #201925
$dark-purple: #3A2A46
$light-purple: #744a94
$dark-gray: #4C4452

html 
   background-color: #3A2A46
   overflow-x: hidden
   min-height: 100vh
   max-height: 100vh
body
    padding: 0
    margin: 0
    min-height: 100vh
    max-height: 100vh
    width: 100vw
    font-family: 'Space Mono', sans-serif
    background: linear-gradient(-33deg, $light-purple, $dark-purple, $dark, $dark-purple, $light-purple) 
    background-size: 400% 400%
    animation: gradient 20s ease infinite
    @keyframes gradient
        0%
            background-position: 0% 50% 
        50% 
            background-position: 100% 50%
        100%
            background-position: 0% 50%
::selection 
    color: none
    background: none
::-moz-selection 
    color: none
    background: none
