
.active:after
    content: '<'
    
#title-container
    width: 100%
    justify-content: left
    align-items: left
    display: flex
    flex-direction: column
    padding-left: 3rem
    margin: 20px
    h2
        margin-bottom: -15px
        margin-top: -15px

#nav-links
    display: flex
    flex-direction: column
    margin: 20px
    padding-left: 3rem
    font-size: 1.5rem
    margin-top: 50px
    a
        text-decoration: none

@media only screen and (max-width: 600px)
    #title-container
        justify-content: left
        align-items: left
        margin-bottom: 35px
        padding-left: 1rem
    #nav-links
        margin-top: 35px
        padding-left: 1rem